@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #1F2937;
    font-family:'Courier New', Courier, monospace;
}



.menu {
  color: black;
  display: flex;
  align-items: center;
  background-color: #18C619;
  padding: 10px;
  
  justify-content: space-between;
}

.navbar {
  font-weight: 900;
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  min-width: 600px;
}

.navlink {
  padding: 10px;
  margin: 10px;
}

.container {
    background-color: white;
    width: 100%;  
    padding: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 600px;
    box-shadow: -10px 20px #888888;
  }

.titulo {
  font-size: 100px;
  font-weight: bolder;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  padding: 20px;
  color: black;
}

.logo-container {
  display: flex;
  align-items: center;

}

.galeria {
  display: flex;
  flex-wrap:  wrap;

  margin-bottom: 5%;
  margin-top: 2%;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {

   font-size: medium;
   font-style: italic;
}




.color1 { color: #04ac9c };
.color2 { color: #f9f39c };
.color3 { color: #043574 };
.color4 { color: #039587 };
.color5 { color: #a4d49c };
